body {
    margin: 0;
    background-color: #fff;
    font-family: 'Formula1-Regular', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0000;
    padding: 20px 30px;
    color: #fff;
}

header a {
    text-decoration: none;
    color: #fff;
    font-family: 'Formula1-Bold', sans-serif;
    transition: text-decoration 0.3s ease;
}

header a:hover {
    text-decoration: underline;
}

header h1 {
    margin: 0;
    font-family: 'Formula1-Regular', sans-serif;
}

/* MAIN STYLES */
.intro-p {
    margin: 50px;
    text-align: center;
}

.user-time {
    height: 150px;
    width: 330px;
    background-color: #eeeeee;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto 30px auto;
    text-align: center;
}

#best-time {
    font-size: 70px;
    margin-top: -15px;
}

.rankings {
    display: flex;
    flex-direction: row;
}

/* PILOT RANKING */

.pro-ranking {
    width: 90%;
    max-width: 350px;
    background-color: #222;
    border-radius: 25px;
    padding: 20px;
    color: #fff;
    margin: 0 auto;
}

.rank-title {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 24px;
}

.pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.rank-img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.rank-name {
    flex-grow: 1;
    margin: 0;
    font-size: 18px;
}

.rank-time {
    margin-left: 10px;
    font-size: 18px;
}

/* USER RANKING */

.user-ranking {
    width: 90%;
    max-width: 350px;
    background-color: #eeeeee;
    border-radius: 25px;
    padding: 20px;
    color: #000000;
    margin: 0 auto;
}

.user-title {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 24px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.user-img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-name {
    flex-grow: 1;
    margin: 0;
    font-size: 18px;
}

.pro-time {
    margin-left: 10px;
    font-size: 18px;
}
